<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--使用构造器注入方式-->
      <bean id="user" class="com.renspring.day02.beans.User">
          <constructor-arg index="0" name="id" value="1" />
          <constructor-arg index="1" name="name" value="renl"/>
          <constructor-arg index="2" name="age" value="18"/>
      </bean>
</beans>